/* CSS Document */

/* .navigation & Banner*/
#banner {
	/*creates the header on the page*/
	height:	115px;
	width:100%;
	background: url(../_images/div/div.jpg) no-repeat center center;
}
a img {
	text-decoration:none;
	border:none;	
}

.top_of_page{
	width:15px;
	height:15px;
	position:fixed;
	bottom:5%;
	right:5%;	
}

/* Clear Float Fix */

.cf:before, .cf:after {
	content:"";
	display:table;	
}
.cf:after {
	clear:both;	
}
/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom:1;	
}

.nav {
	background-color:#F7D118;
	position:relative;
	width:970px;
	height:24px;
	text-align:center;
}

.nav ul {
	margin-left:100px;	
}

.nav ul li {
	float:left;
	margin:0;
	padding:0;
	list-style:none;
}
.nav li a {
	display:block;
	width:90px;
	line-height:24px;
	padding:0 10px;
	text-decoration:none;
	color:#03663A;

}
.nav ul li a:hover {
	background:url(../_images/navigation_bar/rollover_image.png) no-repeat center center;
	color: #F7D118;
}
.nav ul li.selected a {
	background:url(../_images/navigation_bar/rollover_image.png) no-repeat center center;
	color: #F7D118;	
}

.facebook_logo img {
	position:absolute;
	right:98px;
	top:24px;
	width:64px;
	height:64px;
	z-index:400;
}
.google_logo img {
	position:absolute;
	right:24px;
	top:24px;
	width:64px;
	height:64px;
	z-index:400;
}